.your_css_selector {
    background-color: hsla(271, 0%, 100%, 1);
    background-image: radial-gradient(circle at 3% 98%, hsla(259, 100%, 79%, 1) 2%, transparent 40.19679073913856%), radial-gradient(circle at 98% 99%, hsla(353, 88%, 67%, 1) 2%, transparent 48.48595825757849%), radial-gradient(circle at 74% 101%, hsla(315, 86%, 96%, 1) 2%, transparent 56.32640926519297%), radial-gradient(circle at 49% 100%, hsla(294, 94%, 72%, 1) 2%, transparent 54.12274232108472%), radial-gradient(circle at 26% 100%, hsla(58, 68%, 60%, 1) 7.439720470235094%, transparent 53.15013235065794%);
    background-blend-mode: normal, normal, normal, normal, normal;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.classtest1{
    z-index: 10;
    position: absolute;
}
